# Auto detect text files and perform LF normalization
* text=auto

# Known text files
*.css text
*.html text
*.java text
*.js text
*.json text
*.md text
*.txt text
*.xml text
*.yml text
element-list text

# Known binary files
*.gif binary
*.ico binary
*.jpg binary
*.pdf binary
*.png binary
*.zip binary