/**
  Colors :

  Dark blue         : #39434F
  Middle blue       : #76849A
  Light blue        : #C0C9D8
  Very light blue   : #EAEDF2
  Dark red          : #6A1E1E
  Middle red        : #CB4545
  Light red         : #FFA499
  Very light red    : #FFE0DD
  Dark yellow       : #888500
  Middle yellow     : #FEF212
  Light yellow      : #FFFA99
  Very light yellow : #FFFDDD
*/

body {
  background-color:#FFFFFF;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px; /* small */
  margin: 0;
}

table {
  font-size: 13px; /* small */
}

img {
  border: 0px;
}

a, a:link {
  color: #6A1E1E;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dotted #76849A;
}

a:active, a:hover {
  color: #CB4545;
  font-weight: normal;
  text-decoration: underline;
}

a.plain:active, a.plain:hover {
  text-decoration: none;
}

h1, h2 {
  border-bottom: 2px solid #39434F;
  color: #76849A;
  padding-left: .2em;
  margin-bottom: .5em;
  background-color: white;
  font-weight: normal;
  font-size: 18px;
}

h3 {
  border-bottom: 1px solid #39434F;
  color: #76849A;
  font-weight: normal;
  padding: .1em;
  margin-bottom: .5em;
}

h3 a,h3 a:link,h3 a:active,h3 a:hover, h2 a,h2 a:link,h2 a:active,h2 a:hover, h3.heading3{
  color: #76849A;
  text-decoration: none;
  font-weight: normal;
}

h4 {
  margin-bottom: .5em;
  padding: .1em;
  border: 1px solid #76849A;
}

p {
  margin: 0px;
  margin-bottom: .5em;
  line-height: 1.2em;
  padding-right: 20px;
  padding-left: 0px;
  text-align: justify;
  font-size: 13px; /* small */
}

blockquote {
  border-top: 1px solid #39434F;
  border-bottom: 1px solid #39434F;
  border-left: 3px solid #39434F;
  border-right: 3px solid #39434F;
  color: #76849A;
  padding: 12px;
  margin-left: 3em;
  margin-right: 3em;
  background-color: white;
  line-height: 1.5em;
}

blockquote p {
  padding-left: 0px;
  padding-right: 0px;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc;
  margin-left: 0px;
}

ul ul {
  margin: 0px;
  padding-left: 15px;
}

li {
  margin: 0px;
  margin-right: 15%;
  line-height: 1.2em;
}

pre {
  padding: 12px;
  margin: 0;
}

span.highlight {
  font-weight: normal;
  color: #990000;
}

* + h1 {
  margin-top: 1.5em;
}

* + h2 {
  margin-top: 1.5em;
}

body:first-child {
  padding-top: 0px;
}

.source, .code {
  border: 1px solid #39434F;
  border-left: 2px solid #39434F;
  border-right: 2px solid #39434F;
  background-color: #EAEDF2;
  color: #39434F;
  padding: 0;
  margin: 0;
}

.codeContent {
  padding: 6px !important;
  margin: 0 !important;
}

input[type="text"] {
  border: 1px solid #39434F;
  background-color: #76849A;
  color: #FFFFFF;
  margin: 0px;
}

input.required {
  margin: 0px;
  border: 1px solid #990000;
}

input {
  border: 1px solid #39434F;
}

textarea {
  border: 1px solid #39434F;
}

textarea.required {
  border: 1px solid #990000;
}

label.required {
  color: #990000;
}

.searchResults {
  color: #000000;
}

.searchResults b {
  color: #76849A;
}

.panelContent {
  padding: 1em;
  margin: 1em;
}

/* information macros */

.note {
  border-style: solid;
  border-width: 1px;
  border-color: #F0C000;
  background-color: #FFFFCE;
}

.warning {
  border-style: solid;
  border-width: 1px;
  border-color: #c00;
  background-color: #fcc;
}

.information-macro {
  border-style: solid;
  border-width: 1px;
  border-color: #3c78b5;
  background-color: #D8E4F1;
  padding: 5px 0 0 5px;
}

.tip-macro {
  border-style: solid;
  border-width: 1px;
  border-color: #009900;
  background-color: #ddffdd;
  padding: 5px 0 0 5px;
}

.aui-message {
  border-radius: 5px;
  color: #333333;
  margin: 10px 0 0;
  padding: 10px 10px 5px 36px;
  position: relative;
}

.aui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: medium none;
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: -999em;
  vertical-align: text-bottom;
  width: 16px;
}

.aui-iconfont-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA1klEQVR42qWTUQqCQBCGfdKCuogu+qBeoot0kl7TBwU9S3QLyega9ZBh1L/wLyyDLGkLHzj/vzPM7o6eXLv9IQRH0IMnuVAL7b0y0QcVeIPPFPQasJ5KPlkbW5CDFcmpGf8MfLtATeMGEqObBCuOwJV6ZYsjxVhrsoDQEuojiLRQmLa9H5d1nEIHPYOMvrMD6hm9XgcDg2BGgYDesLTAlt596RFSep3jEp0FWnqlDtTMZ4ytZ1SuQZJLDlLtGuUGpNQ3/G7kKP/5M7nbLNnqCzxAR03J/V+HSh9XtOsatQAAAABJRU5ErkJggg==");
}

.aui-iconfont-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABA0lEQVR42p2QP0tCURiH7zdQRA3u4OJUiyDY4CDtTuEXuXs0JEQ4uDk5C0EuKoEu+SWcg5baLCS7tNTx98IzyMWjXoeHe95/z3vODdzi2kdTvIo30fL1+YbLIhYOfsV5GsFAOL59zsNjBRfij60lEXKbf1E5RvDExl4URYGwXJfc6JCgwqZYhBp2hs5n4odadZ9gzKYu2x1YrUPt2SeosWEtijsEBfGN5HKXYErxweKkAMk9PbOkoE5hJXI+AbUVvfVtwZzkHTECAGptel8cgisSnyJDk+8GRlZ8MdOwxITghoa9ArhlZmzB+/abDjwh+c8+LBgRnMLEBHnxKJYpBpfMFDbGjWcGPFD11gAAAABJRU5ErkJggg==");
}

.aui-message p.title {
  font-weight: bold;
}

table.infoMacro td, table.warningMacro td, table.tipMacro td, table.noteMacro td, table.sectionMacro td {
  border: none;
  text-align:left;
}

table.confluenceTable {
  margin: 0px 0px 0px 0px;
  padding: 4px 4px 4px 4px;
}

table.confluenceTable tr {
  border-bottom: 1px solid #76849A;
  border-top: 1px solid #76849A;
}

table.confluenceTable td {
  margin: 0px 0px 0px 0px;
  padding: 4px 8px 4px 8px;
  background-color: #EAEDF2;
}

table.confluenceTable th {
  border: 1px solid #39434F;
  color: #39434F;
  background-color: #C0C9D8;
  margin: 0px 0px 0px 0px;
  padding: 4px 8px 4px 8px;
  font-weight: bold;
}

table.confluenceTable p {
  text-align: left;
}

.banner {
  padding: 8px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.breadcrumbs {
  border-bottom: 1px solid #39434F;
  background-color: #C0C9D8;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 10px !important; /* x-small */
}

.breadcrumbs p {
  font-size: 10px !important; /* x-small */
}

.footer {
  border-top: 1px solid #39434F;
  color: #39434F;
  padding-left: 4px;
}

.layout {
  margin: 0px;
  padding: 0px;
}

.leftColumn {
  border-right: 1px solid #39434F;
  background-color: #EAEDF2;
  margin-top: 20px;
  padding: 12px;
  width: 16em;
}

.leftColumn ul {
  margin-right: 0px;
}

.leftColumn li {
  margin-right: 0px;
}

.leftColumn a {
  font-weight: normal;
}

.leftColumn tt a {
  font-weight: normal;
}

.leftColumn h3 {
  background-color: #EAEDF2;
  border: 1px solid #EAEDF2;
  border-bottom: 1px solid #76849A;
  margin-bottom: .5em;
  font-size: 15px; /* normal */
  font-weight: normal;
}

.page_title {
  border-bottom: 2px solid #39434F;
  font-weight: normal;
  font-size: 24px; /* x-large */
  margin-bottom: .5em;
  color: #39434F;
}

.rightColumn {
  border-right: 1px solid #39434F;
  font-size: 13px; /* small */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 2px;
}

.confluence-information-macro {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  margin: 10px 0;
  padding: 10px 10px 7px 36px;
  position: relative;
}

.confluence-information-macro > .title {
  font-weight: bold;
}

.confluence-information-macro-information {
  background-color: #fcfcfc;
  border-color: #aab8c6;
}

.confluence-information-macro-note {
  background: none repeat scroll 0 0 #fffdf6;
  border-color: #ffeaae;
}

.confluence-anchor-link {
  display: block;
  position: relative;
  top: -85px;
  visibility: hidden;
}

.emoticon {
  width: 16px;
  height: 16px;
}

.legacy-color-text-green4 {
	color: #396;
}
